<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">JET FLASH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'listado' request.session.cat %}">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categorias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for i in c %}
            <a class="dropdown-item" href="{% url 'listado' i.pk %}">{{ i.nombre | title }}</a>
          {% endfor %}
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="{% url 'viewCart' %}" style="text-decoration: none;color: black;margin-right: 20px;"><i class="fas fa-shopping-cart fa-2x"></i><span class="badge badge-primary" id="carrito">{{request.session.carrito}}</span></a>
    </form>
  </div>
</nav>